# Next.js
/.next/
/out/
/cache/
/build/

# dependencies
/node_modules
/.pnp
.pnpm-store
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage
/jest
/vitest
/cypress
/playwright

# Production
/dist

# Misc
.DS_Store
*.pem
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# TypeScript / Next.js type generation
*.tsbuildinfo
next-env.d.ts
globals.css.d.ts

# Git local exclude (file ini tidak akan tercommit)
.git/info/exclude

# IDE files
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json

.idea/
*.iml
*.ipr
*.iws

# OS generated
Thumbs.db
desktop.ini
ehthumbs.db
Icon?
.eaDir
# Hanya abaikan file sementara Solidity
contracts/*.temp.sol
contracts/*Temp.sol